@import "style.css";

.top{
    height: fit-content;
    background-color: var(--mainColor);
}

#topImage{
    height: auto;
    width: 80%;
    margin: auto;
}

.topLeft p, .topLeft h1, .topLeft h2{
    margin: 20px 50px 0px 50px;
    text-align: left;
    line-height: 175%;
    color: var(--mainFontColor);
}

.topRight p, .topRight h1, .topRight h2{
    margin: 20px 50px 0px 50px;
    text-align: left;
    line-height: 175%;
    color: var(--mainFontColor);
}

.aboutUs h2, .aboutUsHeading h2, .socialMedia h2 {
    color: var(--mainColor);
    text-align: center;
    margin: 50px 0px 25px 0px;
  }

  .socialMedia h2 {
    color: var(--mainFontColor);
  }

.aboutUs{
    height: fit-content;
    padding-top: 12.5em;
    padding-bottom: 14.5em;
}

#mats{
    padding-top: 13em;
}

#menu1,
#menu2{
    position: fixed;
    z-index: 10;
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    list-style: none;
    font-size: 200%;
}

.menu-button{
    width: 150px;
    opacity: 0;
    z-index: -1;
    height: 150px;
    border: 2px solid var(--mainColor);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
}

#buttonOne{
    background-image: url(../bilder/cf.jpeg);
}

#buttonTwo{
    background-image: url(../bilder/mats.jpg);
}

#menu1:not(:target)>a:first-of-type, 
#menu1:target>a:last-of-type,
#menu2:not(:target)>a:first-of-type, 
#menu2:target>a:last-of-type{
    opacity: 1;
    z-index: 1;
}

#menu1:not(:target)>.icon-plus:before, 
#menu1:target>.icon-minus:before,
#menu2:not(:target)>.icon-plus:before, 
#menu2:target>.icon-minus:before{
    opacity: 1;
}

.menu-item{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 55%;
    line-height: 5px;
    top: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background-color: var(--mainColor);
    transform: translate(0px, 0px);
    z-index: -2;
    transition: transform 500ms;
    transition: .5s;
}

.menu-item:hover{
    opacity: 0.5;
    box-shadow: 0 5px 10px black;
}

.menu-item a{
    top: 30%;
    left: 0;
    color: var(--mainColor);
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

#menu1:target>.menu-item:nth-child(6),
#menu2:target>.menu-item:nth-child(6) {
    transform: rotate(60deg) translateY(-150px) rotate(300deg);
    transition-delay: 0s;
}

#menu1:target>.menu-item:nth-child(5),
#menu2:target>.menu-item:nth-child(5){
    transform: rotate(20deg) translateY(-155px) rotate(-20deg);
    transition-delay: 0.1s;
}

#menu1:target>.menu-item:nth-child(3),
#menu2:target>.menu-item:nth-child(3){
    transform: rotate(-20deg) translateY(-155px) rotate(20deg);
    transition-delay: 0.2s;
}

#menu1:target>.menu-item:nth-child(4),
#menu2:target>.menu-item:nth-child(4){
    transform: rotate(-60deg) translateY(-150px) rotate(60deg);
    transition-delay: 0.3s;
}

.infoBox{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--mainColor);
    border-radius: 100px;
}

.infoBox p{
    padding: 3%; 
    text-decoration: none;
    line-height: 175%;
}

@media screen and (min-width: 480px){   

}

@media screen and (min-width: 768px){   
    .infoBox{
        width: 60%;
        border-radius: 100px;
    }
}

@media screen and (min-width: 1024px){
    .top{
        height: 30em;
    }

    .topLeft p, .topLeft h1, .topLeft h2{
        margin: 20px 20px 0px 100px;
    }

    .infoBox{
        width: 60%;
        border-radius: 100px;
    }

    #mats{
        padding-top: 0em;
    }

}

@media screen and (min-width: 1441px){

}
