@import "style.css";


.top{
    height: fit-content;
    background-color: var(--mainFontColor);
}

#topImage{
    height: auto;
    width: 100%;
}

.topLeft p, .topLeft h1, .topLeft h2{
    margin: 20px 50px 0px 50px;
    text-align: left;
    line-height: 175%;
    color: var(--mainColor);
}

@media screen and (min-width: 480px){   

}

@media screen and (min-width: 768px){   

}

@media screen and (min-width: 1024px){
    .top{
        height: 30em;
    }

    .topLeft p, .topLeft h1, .topLeft h2{
        margin: 20px 20px 0px 100px;
    }
}

@media screen and (min-width: 1441px){

}
