@import "style.css";



.top{
    height: fit-content;
    background-color: var(--mainFontColor);
}

#topImage{
    height: auto;
    width: 100%;
}

.topLeft p, .topLeft h1, .topLeft h2{
    margin: 20px 50px 0px 50px;
    text-align: left;
    line-height: 175%;
    color: var(--mainColor);
}

.aboutUsHeading h2 {
    color: var(--mainColor);
    text-align: center;
    margin: 50px 0px 25px 0px;
  }

.aboutUs{
    height: fit-content;
    padding-top: 12.5em;
}

#menu{
    width: 150px;
    height: 150px;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    list-style: none;
    font-size: 200%;
}

.menu-button{
    width: 150px;
    opacity: 0;
    z-index: -1;
    height: 150px;
    border: 5px solid var(--accentColor);
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    background-color: grey;
    background-size: 100%;
    overflow: hidden;
    text-decoration: none;
}

#menu:not(:target)>a:first-of-type, 
#menu:target>a:last-of-type{
    opacity: 1;
    z-index: 1;
}

#menu:not(:target)>.icon-plus:before, 
#menu:target>.icon-minus:before{
    opacity: 1;
}

.menu-item{
    width: 70px;
    height: 70px;
    position: absolute;
    left: 55%;
    line-height: 5px;
    top: 50%;
    margin: -50px 0 0 -50px;
    border-radius: 50%;
    background-color: var(--mainColor);
    transform: translate(0px, 0px);
    z-index: -2;
    transition: transform 500ms;
    transition: .5s;
}

.menu-item:hover{
    opacity: 0.5;
    box-shadow: 0 5px 10px black;
}

.menu-item a{
    top: 30%;
    left: 0;
    color: green;
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

#menu:target>.menu-item:nth-child(6) {
    transform: rotate(60deg) translateY(-150px) rotate(300deg);
    transition-delay: 0s;
}

#menu:target>.menu-item:nth-child(5){
    transform: rotate(20deg) translateY(-155px) rotate(-20deg);
    transition-delay: 0.1s;
}

#menu:target>.menu-item:nth-child(3){
    transform: rotate(-20deg) translateY(-155px) rotate(20deg);
    transition-delay: 0.2s;
}

#menu:target>.menu-item:nth-child(4){
    transform: rotate(-60deg) translateY(-150px) rotate(60deg);
    transition-delay: 0.3s;
}

@media screen and (min-width: 480px){   

}

@media screen and (min-width: 768px){   

}

@media screen and (min-width: 1024px){
    .top{
        height: 30em;
    }

    .topLeft p, .topLeft h1, .topLeft h2{
        margin: 20px 20px 0px 100px;
    }
}

@media screen and (min-width: 1441px){

}
